<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/CSS/bootstrap.css}" />
<title>Insert title here</title>
</head>
<body>
	<div class="container">

		<h1>Veamos si eres bueno en Total War Warhammer</h1>

		<div class="row">
			<img class="col-8" th:src="@{/img/total-war-ii.jpg}"/>
		</div>

		<div>
			<form th:action="@{/p}" method="post">
				<p> ¿En los ejercitos, siempre ganan? </p>
				<p>
					<input type="radio" name="respuesta" value="1">
					<input type="radio" name="respuesta" value="2">
					<input type="radio" name="respuesta" value="3">
					<input type="radio" name="respuesta" value="4">
				
				</p>
				<p>
					<input type="submit">
				</p>
			</form>
		</div>
	</div>
</body>
</html>