<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/CSS/bootstrap.css}" />
<title>Insert title here</title>
</head>
<body>
	<div class="container">

		<h1>Veamos si eres bueno en Total War Warhammer</h1>

		<div class="row">
			<img class="col-8" th:src="@{/img/TW-II-batalla.jpg}"/>
		</div>

		<div>
			<form th:action="@{/p3}" method="post">
				<p> Sacar demasiadas unidades de un tipo o clase se considera:  </p>
				<p>
					<br/><input type="radio" name="respuesta" value="4"> Spam
					<br/><input type="radio" name="respuesta" value="1">	Tactica inteligante
					<br/><input type="radio" name="respuesta" value="2">	Perdida de dinero
					<br/><input type="radio" name="respuesta" value="3">	Reto
				</p>
				<p>
					<input type="submit">
				</p>
			</form>
		</div>
	</div>
</body>
</html>