<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/CSS/bootstrap.css}" />
<title>Insert title here</title>
</head>
<body>
	<div class="container">

		<h1>Veamos si eres bueno en Total War Warhammer</h1>

		<div class="row">
			<img class="col-8" th:src="@{/img/total-war-ii.jpg}"/>
		</div>

		<div>
			<form th:action="@{/p8}" method="post">
				<p> Escribe los nombre de tres generales(recuerda separarlos por comas) </p>
				<p>
					<br/><textarea rows="5" cols="20" name="respuesta"></textarea>
				
				</p>
				<p>
					<input type="submit">
				</p>
			</form>
		</div>
	</div>
</body>
</html>