<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/CSS/bootstrap.css}" />
<title>Insert title here</title>
</head>
<body>
	<div class="container">

		<h1>Veamos si eres bueno en Total War Warhammer</h1>

		<div class="row">
			<img class="col-8" th:src="@{/img/maxresdefault.jpg}"/>
		</div>

		<div>
			<form th:action="@{/p2}" method="post">
				<p> ¿La mejor manera de proteger tu artilleria es? </p>
				<p>
					<br/><input type="radio" name="respuesta" value="1">	Formar una caja
					<br/><input type="radio" name="respuesta" value="4">	Dejando una unidad cerca
					<br/><input type="radio" name="respuesta" value="3"> 	Poniendo una unidad encima
					<br/><input type="radio" name="respuesta" value="2">	Escondiendola
				
				</p>
				<p>
					<input type="submit">
				</p>
			</form>
		</div>
	</div>
</body>
</html>